Repository sdx-org/sdx: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, vulture

.pre-commit-config.yaml:

default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.34.0
    hooks:
      - id: djlint
        name: djlint-jinja-fmt
        args: [--reformat, --profile=jinja]
        files: '\.(html|jinja2?|j2)$'

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        files: '\.(md)$'

  - repo: local
    hooks:
      - id: ruff-linter
        name: ruff-linter
        entry: ruff check --fix
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/sdx"
        pass_filenames: true
        types:
          - python

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      - id: vulture
        name: vulture
        entry: vulture
        language: system
        files: "src/sdx"
        description: Find unused Python code.
        pass_filenames: true
        types:
          - python

fix:changes in the package.json
  package-lock.json
  research/frontend/package-lock.json
Due: none

unused import removed
  research/frontend/src/App.jsx
Due: none

fix(research-frontend): correct file size calculation in upload steps
  research/frontend/src/components/consultation/MedicalReport.jsx
  research/frontend/src/components/consultation/Wearable.jsx
Due: none

refactor: Move research and research-app to its own repo
  .makim.yaml
  pyproject.toml
  tests/conftest.py
  tests/test_body_size_middleware.py
  tests/test_repositories.py
  tests/test_research_db.py
  tests/test_research_schema.py
Due: ruff-linter, ruff-format, bandit

remove sqlmodel dep
  .makim.yaml
  README.md
  pyproject.toml
  scripts/gen_models/gen_sqlmodel.py
  src/hiperhealth/models/sqlmodel/__init__.py
  src/hiperhealth/models/sqlmodel/fhirx.py
  tests/test_models_fhir_sqlmodel.py
Due: ruff-linter, ruff-format, bandit

fix tests
  .makim.yaml
  pyproject.toml
  src/hiperhealth/agents/client.py
  tests/test_agents_client.py
  tests/test_agents_diagnostics_core.py
  tests/test_deidentifier.py
  tests/test_medical_reports.py
  tests/test_schema_models.py
Due: ruff-linter, ruff-format, bandit

remove ai reviewer
  .github/workflows/reviewer-pr.yaml
Due: none

fix: prevent invalid language codes from overwriting existing value
  research/backend/app/models/repositories.py
Due: ruff-linter, ruff-format, bandit

fix(packaging): Add build and twine to the release stack
  pyproject.toml
Due: none

move from build system to optional dependencies
  pyproject.toml
Due: none

Notes added by 'git notes add'
  fb0f9f47ce37ff443076cb42f3e85bef6e3c2656
Due: none

docs: refactor contributor guide for lib independence and remove database tasks makim tasks
  .makim.yaml
  DEVELOPMENT.md
Due: none

style: fix linting and formatting
  .makim.yaml
Due: none

style: final formatting fixes with prettier
  DEVELOPMENT.md
Due: none

feat: implement foundational core types and interfaces for plugin architecture (#82)
  src/hiperhealth/sdx/__init__.py
  src/hiperhealth/sdx/core/__init__.py
  src/hiperhealth/sdx/core/llm.py
  src/hiperhealth/sdx/core/plugins.py
  src/hiperhealth/sdx/core/steps.py
  src/hiperhealth/sdx/core/types.py
  tests/sdx/test_core_models.py
Due: ruff-linter, ruff-format, bandit

test: add abstract interface tests to reach coverage threshold (#82)
  tests/sdx/test_abstracts.py
Due: ruff-linter, ruff-format, bandit

fix: remove duplicate sdx.py to resolve mypy conflict
  src/hiperhealth/sdx.py
Due: ruff-linter, ruff-format, bandit

fix: support string paths and signed integers in wearable extraction
  src/hiperhealth/agents/extraction/wearable.py
Due: ruff-linter, ruff-format, bandit

fix csv handling bugs in wearable extractor (#188)
  src/hiperhealth/agents/extraction/wearable.py
  tests/test_extraction_wearable.py
Due: ruff-linter, ruff-format, bandit

fix: resolve Windows test failures for tesseract and libmagic
  DEVELOPMENT.md
  conda/dev.yaml
  src/hiperhealth/agents/extraction/wearable.py
  tests/conftest.py
Due: ruff-linter, ruff-format, bandit

fix: correct import order in conftest.py for linter compliance
  tests/conftest.py
Due: ruff-linter, ruff-format, bandit

fix: make tesseract path configuration Windows-only
  tests/conftest.py
Due: ruff-linter, ruff-format, bandit

feat: Refactor hph structure to support different providers
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  conda/dev-win.yaml
  conda/dev.yaml
  pyproject.toml
  src/hiperhealth/agents/client.py
  src/hiperhealth/agents/diagnostics/core.py
  src/hiperhealth/agents/extraction/medical_reports.py
  src/hiperhealth/llm.py
  tests/test_agents_client.py
  tests/test_llm.py
  tests/test_medical_reports.py
Due: ruff-linter, ruff-format, bandit

fix issues with usage of .env internally
  pyproject.toml
  src/hiperhealth/llm.py
Due: ruff-linter, ruff-format, bandit

fix: remove dependence on anamnesisai
  README.md
  pyproject.toml
  src/hiperhealth/agents/extraction/medical_reports.py
  src/hiperhealth/llm.py
  tests/test_llm.py
  tests/test_medical_reports.py
Due: ruff-linter, ruff-format, bandit

remove rago dep
  README.md
  pyproject.toml
  src/hiperhealth/llm.py
  tests/test_llm.py
Due: ruff-linter, ruff-format, bandit

fix test issues
  tests/test_llm.py
Due: ruff-linter, ruff-format, bandit

update docs
  README.md
  docs/index.md
  docs/installation.md
  docs/llm_configuration.md
  docs/usage.md
  mkdocs.yaml
Due: none

remove unnecessary file
  src/hiperhealth/sdx.py
Due: ruff-linter, ruff-format, bandit

chore(docstring): Use douki docstring format
  .pre-commit-config.yaml
  pyproject.toml
  scripts/gen_models/formatting.py
  scripts/gen_models/gen_base.py
  scripts/gen_models/gen_sqla.py
  scripts/gen_ref_nav.py
  src/hiperhealth/__init__.py
  src/hiperhealth/agents/__init__.py
  src/hiperhealth/agents/client.py
  src/hiperhealth/agents/diagnostics/__init__.py
  src/hiperhealth/agents/diagnostics/core.py
  src/hiperhealth/agents/extraction/__init__.py
  src/hiperhealth/agents/extraction/medical_reports.py
  src/hiperhealth/agents/extraction/wearable.py
  src/hiperhealth/agents/treatments/__init__.py
  src/hiperhealth/llm.py
  src/hiperhealth/models/__init__.py
  src/hiperhealth/models/sqla/__init__.py
  src/hiperhealth/models/sqla/fhirx.py
  src/hiperhealth/privacy/__init__.py
  src/hiperhealth/privacy/deidentifier.py
  src/hiperhealth/schema/__init__.py
  src/hiperhealth/schema/clinical_outputs.py
  src/hiperhealth/schema/fhirx.py
  src/hiperhealth/schema/human_evaluations.py
  src/hiperhealth/utils.py
  tests/__init__.py
  tests/conftest.py
  tests/test_agents_client.py
  tests/test_agents_diagnostics_core.py
  tests/test_deidentifier.py
  tests/test_extraction_wearable.py
  tests/test_is_float_only.py
  tests/test_llm.py
  tests/test_main.py
  tests/test_medical_reports.py
  tests/test_models_fhir_sqla.py
  tests/test_schema_models.py
  tests/test_utils.py
Due: ruff-linter, ruff-format, bandit

fix(refactoring): Fix critical issues, and refactoring the code
  pyproject.toml
  src/hiperhealth/agents/client.py
  src/hiperhealth/agents/diagnostics/core.py
  src/hiperhealth/agents/extraction/medical_reports.py
  src/hiperhealth/agents/extraction/wearable.py
  src/hiperhealth/agents/treatments/__init__.py
  src/hiperhealth/llm.py
  src/hiperhealth/models/sqla/fhirx.py
  src/hiperhealth/privacy/deidentifier.py
  src/hiperhealth/schema/clinical_outputs.py
  src/hiperhealth/schema/fhirx.py
  tests/test_main.py
  tests/test_schema_models.py
Due: ruff-linter, ruff-format, bandit

feat(refactor): Add support for pipelines based on skills
  .pre-commit-config.yaml
  pyproject.toml
  src/hiperhealth/agents/diagnostics/__init__.py
  src/hiperhealth/agents/diagnostics/core.py
  src/hiperhealth/agents/extraction/__init__.py
  src/hiperhealth/agents/extraction/wearable.py
  src/hiperhealth/pipeline/__init__.py
  src/hiperhealth/pipeline/context.py
  src/hiperhealth/pipeline/discovery.py
  src/hiperhealth/pipeline/runner.py
  src/hiperhealth/pipeline/skill.py
  src/hiperhealth/pipeline/stages.py
  src/hiperhealth/privacy/__init__.py
  src/hiperhealth/privacy/deidentifier.py
  src/hiperhealth/skills/__init__.py
  src/hiperhealth/skills/diagnostics/__init__.py
  src/hiperhealth/skills/diagnostics/core.py
  src/hiperhealth/skills/extraction/__init__.py
  src/hiperhealth/skills/extraction/medical_reports.py
  src/hiperhealth/skills/extraction/skill.py
  src/hiperhealth/skills/extraction/wearable.py
  src/hiperhealth/skills/privacy/__init__.py
  src/hiperhealth/skills/privacy/deidentifier.py
  tests/test_agents_diagnostics_core.py
  tests/test_deidentifier.py
  tests/test_llm.py
  tests/test_pipeline.py
  tests/test_skills.py
Due: ruff-linter, ruff-format, bandit

feat(refactor): Add support for pipelines based on skills
  vulture_whitelist.py
Due: bandit

update docs
  DEVELOPMENT.md
  README.md
  docs/index.md
  docs/skills.md
  docs/usage.md
  mkdocs.yaml
Due: none

reallocating the priority
  DEVELOPMENT.md
  README.md
  docs/skills.md
  docs/usage.md
  src/hiperhealth/pipeline/runner.py
  src/hiperhealth/pipeline/skill.py
  src/hiperhealth/skills/diagnostics/core.py
  src/hiperhealth/skills/extraction/skill.py
  src/hiperhealth/skills/privacy/deidentifier.py
  tests/test_pipeline.py
  tests/test_skills.py
Due: ruff-linter, ruff-format, bandit

improve the workflow with skills installation and usage
  DEVELOPMENT.md
  README.md
  docs/skills.md
  docs/usage.md
  pyproject.toml
  src/hiperhealth/pipeline/__init__.py
  src/hiperhealth/pipeline/registry.py
  src/hiperhealth/pipeline/runner.py
  src/hiperhealth/skills/diagnostics/hiperhealth.yaml
  src/hiperhealth/skills/extraction/hiperhealth.yaml
  src/hiperhealth/skills/privacy/hiperhealth.yaml
  tests/test_registry.py
Due: ruff-linter, ruff-format, bandit

fix typing annoation
  pyproject.toml
  scripts/gen_models/gen_base.py
  scripts/gen_models/gen_sqla.py
  src/hiperhealth/schema/human_evaluations.py
  src/hiperhealth/skills/extraction/medical_reports.py
  src/hiperhealth/skills/extraction/wearable.py
  tests/test_models_fhir_sqla.py
Due: ruff-linter, ruff-format, bandit

add pyyaml types
  pyproject.toml
Due: none
