Repository sdx-org/sdx: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, vulture

ruff-linter:
  name: ruff-linter
  entry: ruff check --fix
  language: system
  pass_filenames: true
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  pass_filenames: true
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  - -iii
  - -lll
  pass_filenames: true

vulture:
  name: vulture
  entry: vulture
  language: system
  description: Find unused Python code.
  pass_filenames: true

fix issues pointed by linter
  tests/data/treatments/pancreatitis.md
Due: none

feat(i18n): add language selector and pass lang to AI helpers
  research/app/main.py
  research/app/templates/language.html
  src/sdx/agents/diagnostics/core.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture

feat(ui): show language-selection page on app start
  research/app/main.py
  research/app/templates/language.html
Due: ruff-linter, ruff-format, bandit

feat(schemas): add model and validate LLM replies
  research/app/main.py
  src/sdx/agents/client.py
  src/sdx/agents/diagnostics/core.py
  src/sdx/schema/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture

feat(llm-output): persist raw LLM JSON replies in the filesystem
  research/app/main.py
  src/sdx/agents/client.py
  src/sdx/agents/diagnostics/core.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture

fix: Add missed clinical_outputs module
  src/sdx/schema/clinical_outputs.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture

update .gitignore for vscode
  .gitignore
Due: none

add research to path in pyproject.toml
  pyproject.toml
Due: none

add repositories to save and fetch data
  research/models/repositories.py
  tests/data/patients/patients.json
  tests/test_research_repositories.py
Due: ruff-linter, ruff-format, bandit

adds dashboard with patients data
  research/app/data/llm_raw/20250707T125040Z_306782c7-48f7-4863-9506-2d984f92c479.json
  research/app/data/llm_raw/20250707T125111Z_306782c7-48f7-4863-9506-2d984f92c479.json
  research/app/data/patients/patients.json
  research/app/main.py
  research/app/templates/dashboard.html
  research/app/templates/language.html
  research/app/templates/patient.html
Due: ruff-linter, ruff-format, bandit

swap Profile to-> Demographics
  research/app/data/llm_raw/20250707T125040Z_306782c7-48f7-4863-9506-2d984f92c479.json
  research/app/data/llm_raw/20250707T125111Z_306782c7-48f7-4863-9506-2d984f92c479.json
  research/app/templates/patient.html
Due: none

improve test
  tests/test_research_repositories.py
Due: ruff-linter, ruff-format, bandit

add delete patients missing functionality
  research/app/data/patients/patients.json
  research/app/main.py
  research/app/templates/dashboard.html
Due: ruff-linter, ruff-format, bandit

add missing typing
  research/models/repositories.py
Due: ruff-linter, ruff-format, bandit

add fixes from review
  pyproject.toml
  research/app/data/patients/patients.json
  research/app/templates/dashboard.html
  research/models/repositories.py
  tests/data/patients/patients.json
  tests/test_research_repositories.py
Due: ruff-linter, ruff-format, bandit

Add OpenRouter/Mistral integration for AI diagnosis
  data/llm_raw/20250710T014513Z_integration_test.json
  data/llm_raw/20250710T020251Z_79f344e1-aeac-48b9-ad33-0a6bd41eaef3.json
  data/llm_raw/20250710T020333Z_79f344e1-aeac-48b9-ad33-0a6bd41eaef3.json
  docs/openrouter_integration.md
  research/app/data/patients/patients.json
  research/app/main.py
  src/sdx/agents/client.py
  src/sdx/agents/extraction/medical_reports.py
  start_app.py
  test_openrouter_integration.py
  tests/conftest.py
  tests/test_medical_reports.py
  tests/test_openrouter_client.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture

add the de-identifier class
  poetry.lock
  pyproject.toml
  research/models/deidenitfier.py
Due: ruff-linter, ruff-format, bandit

remove redact strategy
  research/models/deidenitfier.py
Due: ruff-linter, ruff-format, bandit

upload test file for deidentifier class
  tests/test_deidentifier.py
Due: ruff-linter, ruff-format, bandit

update tests to parametrizet tests
  tests/test_deidentifier.py
Due: ruff-linter, ruff-format, bandit

[CI] intiate changes
  research/auth/__init__.py
Due: ruff-linter, ruff-format, bandit

[FEAT] add password verifications(act. HIPPA Compliance)
  research/auth/password.py
Due: ruff-linter, ruff-format, bandit

[FEAT] add valid mappings of Users and Permissions(Configurable)
  research/models/_valid_mappings.py
Due: ruff-linter, ruff-format, bandit

[FEAT] add RBAC's definitions(Configurable)
  research/models/rbac.py
Due: ruff-linter, ruff-format, bandit

[FEAT]update schemas and add schema validations
  research/schema/auth.py
Due: ruff-linter, ruff-format, bandit

[CI] intiate changes
  research/schema/__init__.py
Due: ruff-linter, ruff-format, bandit

[FEAT] add session management
  research/auth/rbac.py
  research/auth/session.py
Due: ruff-linter, ruff-format, bandit

[FEAT] add audit logging(§164.312(b))
  research/auth/audit.py
  research/auth/dependencies.py
Due: ruff-linter, ruff-format, bandit

[FEAT] handle dependencies
  research/auth/audit.py
  research/auth/dependencies.py
Due: ruff-linter, ruff-format, bandit

[REFACTOR] replace columns with mapped column
  research/models/rbac.py
  research/models/ui.py
Due: ruff-linter, ruff-format, bandit

[FEAT] add base module of sanitization
  research/auth/_sanitize.py
Due: ruff-linter, ruff-format, bandit

[FEAT] add batched accumulators of sanitization
  research/auth/batch.py
Due: ruff-linter, ruff-format, bandit

[FEAT] add wrappers of for PII and secrets
  research/auth/gateway.py
  research/auth/scan.py
Due: ruff-linter, ruff-format, bandit

[REFACTOR] specification of PHI's in PII's
  research/auth/gateway.py
  research/auth/scan.py
Due: ruff-linter, ruff-format, bandit

[refactor] naming changes; import updates
  research/auth/_sanitize.py
  research/auth/gateway.py
  research/models/rbac.py
Due: ruff-linter, ruff-format, bandit

[refactor] code refactor
  research/auth/__init__.py
  research/auth/audit.py
  research/auth/batch.py
  research/auth/dependencies.py
  research/auth/gateway.py
  research/auth/password.py
  research/auth/rbac.py
  research/auth/sanitize.py
  research/auth/scan.py
  research/auth/session.py
  research/models/__init__.py
  research/models/_valid_mappings.py
  research/models/rbac.py
Due: ruff-linter, ruff-format, bandit

delete _sanitize.py
  research/auth/_sanitize.py
Due: ruff-linter, ruff-format, bandit

[REFACTOR] a step towards making passwordmanager stateless
  research/auth/password.py
Due: ruff-linter, ruff-format, bandit

update the requirements.txt and pyproject.toml
  pyproject.toml
  research-poc/backend/requirements.txt
Due: none

fix(patient-view): refactor dashboard into tabs and fix data mismatch (#133)
  research/backend/app/main.py
  research/backend/app/schemas.py
  research/frontend/package-lock.json
  research/frontend/src/components/dashboard/PatientView.jsx
  research/frontend/src/components/dashboard/tabs/DemographicsTab.jsx
  research/frontend/src/components/dashboard/tabs/DiagnosisTab.jsx
  research/frontend/src/components/dashboard/tabs/ExamsTab.jsx
  research/frontend/src/components/dashboard/tabs/LifestyleTab.jsx
  research/frontend/src/components/dashboard/tabs/MedicalReportsTab.jsx
  research/frontend/src/components/dashboard/tabs/MentalHealthTab.jsx
  research/frontend/src/components/dashboard/tabs/SymptomsTab.jsx
  research/frontend/src/components/dashboard/tabs/WearableDataTab.jsx
Due: ruff-linter, ruff-format, bandit

Path conditions:
  ruff-linter: any of: ./ and \.py$
  ruff-format: any of: ./ and \.py$
  mypy: any of: src/sdx and \.py$
  bandit: any of: \.py$
  vulture: any of: src/sdx and \.py$
